@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: #001524;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
  text-align: center;
  color: #FF7D00; 
}
.container-404{
    text-align: center;
}


img {
    width: 350px;
    height: 350px;
    display: block;
    margin: 0 auto;
}


p {
    color: #FF7D00;
    text-align: center;
    font-size: 14px;
}


a{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.btn{
    color: #FF7D00;
    background-color: #15616D;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


.btn:hover{
    background-color: #FF7D00;
    color: #001524;
}
