body{
   background-color: #001524;

}
h3{
    color: #FF7D00;
    
}
section{
    display: flex;
    flex-direction: column;
    text-align: center;
   justify-content: center;
    height: 100vh;
    align-items: center;
}
a{
    text-decoration: none;
    width: 200px;
    
}
img{
    width: 350px;
    height: 350px;

}
p{
    color:#FF7D00;
    text-align: center;
    font-family: 12px;
}
.btn{
    color: #FF7D00;
    background-color: #15616D;
}

.btn :hover{
    background-color: #FF7D00;

}