
.text-color{
    color: #FF7D00;
}
section{
    display: flex;
    flex-direction: column;
    text-align: center;
   justify-content: center;
    height: 100vh;
    align-items: center;
}
a{
    text-decoration: none;
    width: 200px;
    
}