.login-box {
  background-color: transparent;
  border-radius: 10px;
  border: 1 solid black;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.login-admin {
  background-image: url(../assets/img/admin-fondo.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.login-box input {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 10px 15px;
  color: white;
  width: 100%;
  margin-bottom: 15px;
}
.boton-admin {
  display: inline-block;
  background-color: var(--color-primary-dark);
  color: #fff;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s;
}

.boton-admin:hover {
  background-color: var(--color-tertiary-contrast);
  transform: scale(1.05);
}
@media all and (max-width: 576px) {
    .formulario {
        width: 90%;
        margin-bottom: 5rem;
    }
    .login-admin {
    padding-top: 20vh;
  }

  .login-box {
    padding: 1.5rem;
    backdrop-filter: blur(8px);
  }
}

@media (min-width: 768px) {
  .login-admin {
    padding: 15vh;
  }

  .login-box {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .login-box {
    width: 400px;
  }
}

