/* === RESETEO GENERAL === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* === VARIABLES GLOBALES === */
:root {
  /* Colores principales */
  --color-primary-dark: #001524;
  --color-primary-medium: #15616d;

  /* Colores secundarios */
  --color-secondary-light: #ffecd1;
  --color-secondary-accent: #ff7d00;
  --color-tertiary-contrast: #78290f;

  /* Tipografía */
  --fuente-principal: "Montserrat", sans-serif;

  /* Tamaños base */
  --texto: 16px;
  --titulares: 24px;
}

/* === TIPOGRAFÍA GLOBAL === */
body {
  font-family: var(--fuente-principal);
  font-size: var(--texto);
  color: var(--color-secondary-light);
}

h2 {
  font-size: var(--titulares);
  color: var(--color-secondary-light);
  letter-spacing: 3px;
  font-weight: 800;
  text-transform: uppercase;
}

h3 {
  font-size: var(--titulares);
  color: var(--color-secondary-accent);
  letter-spacing: 2px;
}

p {
  font-size: var(--texto);
  color: var(--color-secondary-light);
  font-weight: 600;
}

/* === ENLACES === */
a {
  color: var(--color-secondary-accent);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-tertiary-contrast);
}




/* CENTRO DE AYUDA */
/* === PREGUNTAS Y RESPUESTAS (ACCORDION) === */
.accordion-button {
  color: var(--color-primary-dark);
}

.accordion-button:hover,
.accordion-button:not(.collapsed) {
  color: var(--color-tertiary-contrast);
}


/* === BOTÓN DE AYUDA === */
.btn-ayuda {
  background-color: var(--color-primary-medium);   
  color: var(--color-secondary-light);                 
  border: none;                /* sin borde */
  transition: all 0.3s ease;   /* animación suave */
}

.btn-ayuda:hover {
  background-color: var(--color-tertiary-contrast);  
  color: var(--color-secondary-light);                 /* mantiene el texto blanco */
  transform: translateY(-2px); /* leve efecto de elevación */
  box-shadow: 0 4px 10px rgba(255, 125, 0, 0.4);
}

/* DETALLE PRODUCTO */
/* CRISTO REDENTOR */
.cristo-section {
  color: #fff;
  text-align: center;
}

.cristo-gifs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.gif-item {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .cristo-gifs {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .gif-item {
    height: 250px;
  }
}

.cristo-section p {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  font-size: 0.95rem;
}
