@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Montserrat", sans-serif;
}
body{

    background:url(../assets/img/cr.jpg) no-repeat;
    background-size: cover;
    background-position: center; 

    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
}
.formulario{

    margin-top: 150px;
    width: 420px;
    background: transparent;
    border: 2px solid rgb(0, 0, 0,0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    border-radius: 15px;
    padding: 30px 40px;

}
.formulario h1{
    color: black;
    text-align: center;
    font-size: 36px;
}
.formulario .input-box{
    width:100% ;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent ;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    font-size: 16px;
    color:white;
}
.input-box input::placeholder{
    color: black;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.fromulario .Recuerdame{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.Recuerdame label input{
    color: black;
    text-decoration: none;
}
.Recuerdame a:hover{
    text-decoration: underline;
}
.formulario .btn{
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 40px;
    background-color: #15616D;
    box-shadow: 0 0 10px;
    cursor: pointer;
    font-size: 16px;
    color: bisque;
    font-weight: 600;
}

.registro-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.registro-link p a:hover{
    text-decoration: underline;

}
a{
    text-decoration: none;
 }