@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Montserrat", sans-serif;
}
.navbar {
  padding-top: 0;
  padding-bottom: 0;
  height: 150px; /* ajustá este valor al alto que querés */
  display: flex;
  align-items: center;
}
.navbar-brand {
  display: flex;
  align-items: center; /* centra verticalmente el logo y el texto */
  gap: 8px; /* espacio entre logo y texto si hay texto */
}
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}


