* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
   
    /* Colores primarios */
    --color-primary-dark: #001524;
    --color-primary-medium: #15616d;

    /* Colores secundarios */
    --color-secondary-light: #ffecd1;
    --color-secondary-accent: #ff7d00;

    /* Color terciario */
    --color-tertiary-contrast: #78290f;

    /* tipografia- monserrat */
    --Monserrat: "Monserrat", sans-serif;

    /* Tamaños de fuentes */
    --texto: 12px;
    --titulares: 24px;
    --description: 1rem;
  }

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}
.galeria img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  border-radius: 10px;
}
.voto {
  background-color: var(--color-primary-medium);
  border: none;
}
.voto:hover {
  background-color: var(--color-tertiary-contrast);
  font-size: 1.5rem;
  
}
.gastronomia-descuentos {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.boton-restaurantes {
  background-color: var(--color-primary-medium);
  border: none;
}
.boton-restaurantes:hover {
   background-color: var(--color-tertiary-contrast);
  font-size: 1.5rem;
}