@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



 
:root {
   
    /* Colores primarios */
    --color-primary-dark: #001524;
    --color-primary-medium: #15616d;

@media (min-width: 768px) {
   

    .titulo-viajerox {
        font-size: 3rem; 
    }

    .subtitulo-viajerox {
        font-size: 1.25rem; 
    }

    .row.justify-content-center > .col-md-4 {
      
        padding-left: 10px;
        padding-right: 10px;
    }

    .card-suscripcion .btn {
        font-size: 0.95rem;
    }
}



@media (min-width: 992px) {
    .titulo-viajerox {
        font-size: 4rem; 
    }

    .subtitulo-viajerox {
        font-size: 1.5rem;
    }

   
    .planes-viajerox .text-center.mb-5 {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
 
  .planes-viajerox {
    padding-bottom: 2rem;
  }



.voto:hover {
  background-color: var(--color-primary-medium);
  font-size: 1.5rem;
  color: var(--color-secondary-light);
  
}
.boton-alojamiento:hover {
  background-color: var(--color-primary-medium);
  font-size: 1.5rem;
  color: var(--color-secondary-accent);
}
.reseñas-alojamiento {
  background-image: url(../assets/img/viajerosbanner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
 
}
.card-img-top-wrapper {
  height: 250px; 
  overflow: hidden;
}

.card-img-top-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}
.boton-foro:hover {
  font-size: 20px;
  background-color: var(--color-tertiary-contrast);
}
.boton-foro {
  background-color: var(--color-primary-medium);
}

.galeria-viajeros img {
   
    height: 400px;
    object-fit: cover;
}


.foro-viajero .col-12.col-md-6.bg-light {
    height: 400px; 
    border-radius: 0.375rem 0.375rem 0 0; 
}


.reseñas .card {
    max-width: 350px;
}

.galeria-viajeros img {
    
    height: 400px;
    object-fit: cover;
}


.foro-viajero .col-12.col-md-6.bg-light {
    height: 400px;
    
}


.reseñas .card {
    max-width: 350px;
}


@media (min-width: 576px) {
    
   
    .descuentos h2 {
        font-size: 1.75rem;
    }
    
    .descuentos p.fs-4 {
        font-size: 1.15rem;
    }
    
    
    .reseñas-alojamiento .d-flex {
        justify-content: center;
    }

   
    .galeria-viajeros img {
        height: 350px; 
    }
    
}



@media (min-width: 768px) {
    
    h2.p-2 {
        font-size: 2rem;
    }

    
    .descuentos p.fs-4 {
        font-size: 1.25rem;
    }

   
    .descuentos .card-img-top-wrapper img {
        height: 100%;
        object-fit: cover;
    }
    
    
    .reseñas-alojamiento .d-flex {
       
        justify-content: flex-start;
    }
    
    .reseñas-alojamiento .row.justify-content-evenly {
        justify-content: center;
    }

    
    .reseñas .card {
        max-width: 300px;
    }
    
    
    .reseñas .card-body p.card-text {
        font-size: 0.95rem;
    }

    
    .foro-viajero .row-cols-2 {
        display: flex; 
    }
    
    .foro-viajero .col-12.col-md-6 {
       
        height: 400px;
    }
    
    .galeria-viajeros img {
        
        height: 300px; 
    }
}


@media (min-width: 992px) {
    
    .descuentos .container {
        max-width: 1140px;
    }

   
    .descuentos .card-img-overlay {
        padding: 1.5rem;
    }
    
    .descuentos .card-title {
        font-size: 1.75rem;
    }
    
    .descuentos .card-text {
        font-size: 1.1rem;
    }
    
    
    .reseñas h2 {
        font-size: 2.5rem;
    }

    
    .reseñas-alojamiento {
        padding: 4rem 2rem;
    }

    
    .reseñas .card {
        max-width: 400px;
    }
    
  
    .galeria-viajeros img {
        height: 500px; 
    }
}


@media (min-width: 1200px) {
    
    .descuentos .container {
        max-width: 1320px;
    }
    
    
    .galeria-viajeros img {
        height: 600px; 
    }
}
