*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img-banner {
    width: 100%;
    height: 60vh;
    max-height: 600px; 
    object-fit: cover;
}


.img-maravillas {
    width: 100%;
    height: 200px;
    object-fit: cover;

}
.reseñas .img-fija {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.reseñas p {
  max-width: 120px;
  min-height: 60px; 
  font-size: 0.9rem;
  line-height: 1.2;
}

