*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-maravillas {
    width: 100%;
    height: 200px;
    object-fit: cover;

}
.img-banner {
  width: 100%;
  height: 600px;
  background-image: url("../assets/img/banner.jpg");
  background-size: cover;
  background-position: top;
}
