*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carrusel {
  width: 100%;
  max-height: 90vh; 
  overflow: hidden;
}

.carrusel .carousel-item img {
  width: 100%;
  height: 100vh; 
  object-fit: cover; 
}


@media (max-width: 768px) {
  .carrusel .carousel-item img {
    height: 60vh;
  }
}



.img-maravillas {
    width: 100%;
    height: 200px;
    object-fit: cover;

}
.reseñas .img-fija {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.reseñas p {
  max-width: 120px;
  min-height: 60px; 
  font-size: 0.9rem;
  line-height: 1.2;
}
